
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Style/ErrorPageStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet"></link>

</head>
<body style="padding:0">
    <div id="header-all">
        <div id="header-left">
            <div id="elca-logo">
                <img src="~/Content/ELCALogo.png" alt="Elca logo" style="width: 8vh; height: 8vh; align-self:flex-end; margin: 3px">
            </div>
            <div id="pim-brand">
                <a style="color: rgb(84, 84, 84); font-weight: bold;" href="/Project">@Resource.Layout.LayoutRe.Brand_Label</a>
            </div>
        </div>
        <div id="header-right">
            <div class="right-header-item" id="language-choose">
                @{ var currentLanguage = ViewBag.CurrentLanguage; }  
                <a style="color: @(currentLanguage.Name=="vi-VN"?"blue":"black"); align-self: flex-end; margin: 0 5px 0 5px;"
                   href="@(currentLanguage.Name!="vi-VN"?"/Language?culture=vi-VN":"#") ">VI</a>
                <span style=" align-self: flex-end; color: black; font-weight:bold;">|</span>
                <a style="color: @(currentLanguage.Name=="en-US" ?"blue":"black"); align-self: flex-end; margin: 0 5px 0 5px;"
                   href="@(currentLanguage.Name!="en-US"?"/Language?culture=en-US":"#")">EN</a>
            </div>
            <div class="right-header-item" id="help-header">
                <a style="color: rgb(168, 168, 168); align-self: flex-end;">@Resource.Layout.LayoutRe.Help_Label</a>
            </div>
            <div class="right-header-item" id="logout-header">
                <a style="color: rgb(168, 168, 168); align-self: flex-end;">@Resource.Layout.LayoutRe.Logout_Label</a>
            </div>
        </div>
    </div>
    <div style="display: flex;" id="web-body">
        <div id="content-body">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

</body>
</html>
