
@{
    ViewBag.Title = "Project List";
}

<h2 id="project-list-label">@Resource.ProjectList.ProjectListRe.ProjectList_Label</h2>
<div id="spinning-submit-form" class="loader loader-default" data-text="@Resource.ProjectList.ProjectListRe.DeletingProject_SpinningMessage"></div>
<form id="search-form" action="/Project/SearchProject" method="get">
    <input id="search-input" type="text" class="form-control"
           name="SearchTerm" placeholder="@Resource.ProjectList.ProjectListRe.CategoryFilterHolder_Label"
           value="@Session["SearchTerm"]">
    @{
        List<SelectListItem> statusList = new List<SelectListItem>();
        statusList.Add(new SelectListItem
        {
            Text = @Resource.ProjectList.ProjectListRe.ProjectStatusHolder_Label,
            Value = "",
            Selected = Session["SearchStatus"]?.ToString() == "",
        });
        statusList.Add(new SelectListItem
        {
            Text = @Resource.ProjectList.ProjectListRe.ProjectStatusNew_Label,
            Value = "NEW",
            Selected = Session["SearchStatus"]?.ToString() == "NEW"
        });
        statusList.Add(new SelectListItem
        {
            Text = @Resource.ProjectList.ProjectListRe.ProjectStatusPlanned_Label,
            Value = "PLA",
            Selected = Session["SearchStatus"]?.ToString() == "PLA"
        });
        statusList.Add(new SelectListItem
        {
            Text = @Resource.ProjectList.ProjectListRe.ProjectStatusInProgress_Label,
            Value = "INP",
            Selected = Session["SearchStatus"]?.ToString() == "INP"
        });
        statusList.Add(new SelectListItem
        {
            Text = @Resource.ProjectList.ProjectListRe.ProjectStatusFinished_Label,
            Value = "FIN",
            Selected = Session["SearchStatus"]?.ToString() == "FIN"
        });
    }
    @Html.DropDownList("SearchStatus", statusList, new { @class = "form-control", id = "status-search-input" })
    <input id="submit-button" class="btn btn-primary" type="submit" value="@Resource.ProjectList.ProjectListRe.Search_Label" />
    <input id="page-index-input" type="hidden" name="PageIndex" value="1">
    <input id="page-size-input" type="hidden" name="PageSize" value="5">
    <button type="button" id="reset-button"><a href="/Project/SearchProject?PageIndex=1&PageSize=5">@Resource.ProjectList.ProjectListRe.ResetSearch_Label </a></button>
</form>
@*Data table*@
<div class="wrap-table100">
    <div class="" style="width:70vw;">
        <table style="width:70vw;">
            <thead>
                <tr class="">
                    <th style="width:3vw;">   </th>
                    <th style="width:5vw;">@Resource.ProjectList.ProjectListRe.ProjectNumber_Header</th>
                    <th>@Resource.ProjectList.ProjectListRe.Name_Header</th>
                    <th style="width:8vw;">@Resource.ProjectList.ProjectListRe.Status_Header</th>
                    <th style="width:10vw;">@Resource.ProjectList.ProjectListRe.Customer_Header</th>
                    <th style="width:8vw;">@Resource.ProjectList.ProjectListRe.StartDate_Header</th>
                    <th style="width:4vw;">@Resource.ProjectList.ProjectListRe.Delete_Header</th>
                </tr>
            </thead>
            <tbody>
                @Html.AntiForgeryToken()
                @foreach (var item in ViewBag.ProjectList)
                {

                }
                @foreach (var x in ViewBag.ProjectList)
                {
                    <tr>
                        <td><input type="checkbox" @(x.Status != "NEW" ? "disabled" : "") onchange='handleChange(this,@x.Id,@x.Version)'></td>
                        <td class="project-number-column"><a href="/Project/EditProject/@x.Id">@x.ProjectNumber</a></td>
                        <td>@x.Name</td>
                        <td>
                            @switch (x.Status)
                            {
                                case "NEW":
                                    @Resource.ProjectList.ProjectListRe.ProjectStatusNew_Label;
                                    break;
                                case "PLA":
                                    @Resource.ProjectList.ProjectListRe.ProjectStatusPlanned_Label;
                                    break;
                                case "INP":
                                    @Resource.ProjectList.ProjectListRe.ProjectStatusInProgress_Label;
                                    break;
                                case "FIN":
                                    @Resource.ProjectList.ProjectListRe.ProjectStatusFinished_Label;
                                    break;
                            }
                        </td>




                        <td>@x.Customer</td>
                        <td>@Convert.ToDateTime(x.StartDate).ToString("dd.MM.yyyy")</td>
                        <td style="text-align:center;" @(x.Status == "NEW" ? $"onclick=onDeleteProject({x.Id},{x.Version}) " : "" ) class="project-delete-column">
                            @if (x.Status == "NEW")
                            {
                                //style="font-size: 20px; font-weight: bold; color: rgb(255, 89, 89);
                                <i class="fa fa-trash-o delete-icon"></i>
                            }
                        </td>

                    </tr>

                }
                <tr id="delete-multiple-tr">
                    <td id="item-count-td" colspan="3">
                        <p id="num-item-selected-text"><span id="item-count">0 </span>@Resource.ProjectList.ProjectListRe.ItemSelected_Label</p>
                    </td>
                    <td colspan="4" id="delete-multiple-td">
                        <span id="delete-selected-button" data-toggle="modal" data-target="#confirmMultpleDeleteModal">
                            <i class="fa fa-trash-o delete-icon"></i> @Resource.ProjectList.ProjectListRe.DeleteSelectedItems_Label
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>
@*------------------------------pagination--------------------------------*@
<nav aria-label="Page navigation" id="page-navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 0; i < (int)Math.Ceiling((decimal)ViewBag.ResultCount / ViewBag.CurrentPageSize); i++)
        {
            <li class="page-item @(ViewBag.CurrentPage==i+1 ? "active" : "")" onclick="pageSelect(@(i+1))"><a class="page-link">@(i+1)</a></li>
        }
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">@Resource.ProjectList.ProjectListRe.Confirm_WordLabel</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="confirm-warning">
                    <p style="font-size:14px;">@Resource.ProjectList.ProjectListRe.ConfirmDelete_Warning</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">@Resource.ProjectList.ProjectListRe.Close_WordLabel</button>
                <button type="button" class="btn btn-danger" onclick="onSubmitDeleteProject()">@Resource.ProjectList.ProjectListRe.Delete_WordLabel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmMultpleDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">@Resource.ProjectList.ProjectListRe.Confirm_WordLabel</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="confirm-warning">
                    <p style="font-size:14px;">@Resource.ProjectList.ProjectListRe.ConfirmMultipleDelete_Warning</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">@Resource.ProjectList.ProjectListRe.Close_WordLabel</button>
                <button type="button" class="btn btn-danger" onclick="onSubmitDeleteMultiple()">@Resource.ProjectList.ProjectListRe.Delete_WordLabel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Error</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="delete-error-warning">
                    <p style="font-size:14px;" id="delete-error-warning-text"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">@Resource.ProjectList.ProjectListRe.Close_WordLabel</button>
                <button type="button" class="btn btn-warning" onclick="onCloseErrorWarningModal()">Refresh</button>
            </div>
        </div>
    </div>
</div>
<script>
    var currentProjectSelectedForDeleteID;
    var deleteList = [];

    function onCloseErrorWarningModal() {
        window.location.href = '/Project/ProjectList';
        $('#delete-error-modal').modal('hide');
    }

    function pageSelect(pageIndex) {
        document.getElementById("page-index-input").value = pageIndex;
        $("#search-form").submit();
    }

    function handleResponseDelete() {
        document.getElementById("spinning-submit-form").classList.remove("is-active");
        if (this.readyState == 4 && this.status === 200) {
            let responseObject = JSON.parse(this.responseText);
            if (responseObject.hasError == true) {
                document.getElementById("delete-error-warning-text").innerHTML = responseObject.errMessage;
                $('#delete-error-modal').modal('show');
            } else if (responseObject.hasError === false) {
                $('#confirmMultipleDeleteModal').modal('hide');
                window.location.href = '/Project/ProjectList';
            }
        } else if (this.readyState == 4 && this.status == 500) {
            window.location.href = '/Home/NotFound';
        }
    }

    function onSubmitDeleteProject() {

        let xhttp = new XMLHttpRequest();
        let JSONObject = [currentProjectSelectedForDeleteID];
        xhttp.open("POST", "/Project/DeleteProject", true);
        xhttp.onreadystatechange = handleResponseDelete;

        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.setRequestHeader("Accept", "application/json");
        xhttp.send(JSON.stringify(JSONObject));
        $('#confirmDeleteModal').modal('hide');
        document.getElementById("spinning-submit-form").classList.add("is-active");
    }

    function onDeleteProject(_id, _version) {
        $('#confirmDeleteModal').modal('show');
        currentProjectSelectedForDeleteID = { ID: _id, Version: _version };
    }

    function handleChange(checkbox, id, version) {
        const projectObj = { ID: id, Version: version };
        if (checkbox.checked === true) {
            deleteList.push(projectObj);
            document.getElementById("item-count").innerHTML = deleteList.length;
            document.getElementById("delete-selected-button").style.visibility = "visible";

        } else {
            let index = deleteList.findIndex(proj => proj.ID === id);
            if (index > -1) {
                deleteList.splice(index, 1);
            }
            document.getElementById("item-count").innerHTML = deleteList.length;
            if (deleteList.length === 0) {
                document.getElementById("delete-selected-button").style.visibility = "hidden";
            }

        }
    }

    function onSubmitDeleteMultiple() {
        if (deleteList.length > 0) {
            let xhttp = new XMLHttpRequest();
            let JSONObject = deleteList;
            xhttp.open("POST", "/Project/DeleteProject", true);
            xhttp.onreadystatechange = handleResponseDelete;
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.setRequestHeader("Accept", "application/json");
            xhttp.send(JSON.stringify(JSONObject));
            $('#confirmMultipleDeleteModal').modal('hide');
            document.getElementById("spinning-submit-form").classList.add("is-active");
        }
    }
</script>